pkgbase = jdk22-graalvm-ee-bin
	pkgdesc = Universal virtual machine for running applications written in a variety of languages (JVM-based, LLVM-based, or other), Java 22 version
	pkgver = 24.0.0
	pkgrel = 1
	url = https://www.graalvm.org/
	install = jdk22-graalvm-ee-bin.install
	arch = x86_64
	license = custom:OTN
	depends = java-runtime-common
	depends = java-environment-common
	provides = java-runtime=22
	provides = java-environment=22
	options = staticlibs
	source = graalvm-ee-rebuild-libpolyglot.hook
	sha256sums = SKIP
	source_x86_64 = https://download.oracle.com/graalvm/22/latest/graalvm-jdk-22_linux-x64_bin.tar.gz
	sha256sums_x86_64 = SKIP

pkgname = jdk22-graalvm-ee-bin
